{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row mb-5 justify-content-center">

                <div class="banner col-md-12">
                    <img src="{{asset('build/images/decor.jpg')}}">
                </div>


            <div class="col-md-12 mb-5 mt-5 text-center">
                <h1>Nouveautés</h1>
            </div>

            {% for performance in performances %}
                <div class="col-xs-12 col-md-4 mb-4">
                    <a href="{{ path('one_performance', {'performance': performance.id}) }}">
                        <div class="card">
                            <img src="/upload/{{ performance.imageName }}" alt="vignette" class="card-img-top">
                            <div class="card-body">
                                <p class="card-text">{{ performance.name }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="row justify-content-center">
            <div class="col-xs-12 col-md-9">
                <div class="card">
                    <div class="card-header card-title text-center">
                        <p>Prochaine date de tournée</p>
                    </div>
                    <div class="card-body">

                        <p class="card-text text-center">
                            Le {{ next_tour[0].date|date('d/m/Y à G:i') }}
                            à {{ next_tour[0].city }}</p>

                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
