{% extends 'base.html.twig' %}

{% block title %}Modifier Numéro{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modifier Numéro</h1>

        {{ include('performance/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

        <a href="{{ path('performance_index') }}" class="btn btn-primary my-3">Retour</a>

        {{ include('performance/_delete_form.html.twig') }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('fillImageInput') }}
{% endblock %}
