{% extends 'base.html.twig' %}

{% block title %}Performance index{% endblock %}

{% block body %}
    <div class="container">
    <h1>Performance index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Text</th>
                <th>CreatedAt</th>

                <th>ImageName</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for performance in performances %}
            <tr>

                <td>{{ performance.name }}</td>
                <td>{{ performance.text|raw }}</td>
                <td>{{ performance.createdAt ? performance.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td><img src="/upload/{{ performance.imageName }}" alt="vignette" class="vignette"></td>
                <td>
                    <a href="{{ path('performance_show', {'id': performance.id}) }}">show</a>
                    <a href="{{ path('performance_edit', {'id': performance.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('performance_new') }}">Create new</a>
    </div>
{% endblock %}
