{% extends 'base.html.twig' %}

{% block title %}Numéros{% endblock %}

{% block body %}
    <div class="container">
    <h1>Tous les numéros</h1>
        <a href="{{ path('performance_new') }}" class="btn btn-primary my-3">Ajouter</a>

        <table class="table admin-table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Texte</th>
                <th>Créé le</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for performance in performances %}
            <tr>
                <td>{{ performance.name }}</td>
                <td>{{ performance.text|raw }}</td>
                <td>{{ performance.createdAt ? performance.createdAt|date('d/m/Y') : '' }}</td>
                <td><img src="/upload/{{ performance.imageName }}" alt="vignette" class="vignette"></td>
                <td>
                    <a href="{{ path('performance_show', {'id': performance.id}) }}">voir</a>
                    <a href="{{ path('performance_edit', {'id': performance.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
{% endblock %}
