{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12">
                <h1>Tous nos numéros</h1>
            </div>

            <div class="col-5">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-5">{{ form_row(form.category) }}</div>
                    <div class="col-5">{{ form_row(form.name) }}</div>
                    <div class="col-2">
                        <button class="btn btn-primary" type="submit" name="btnSearch">Rechercher</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="row mb-5">
            {% for performance in performances %}
                <div class="col-xs-12 col-md-6">
                    <div class="card">
                        <img src="/upload/{{ performance.imageName }}" alt="vignette" class="card-img-top">
                        <div class="card-body">
                            <p class="card-text">{{ performance.name }}</p>
                        </div>
                        <div class="card-footer d-flex justify-content-between">
                            <a href="{{ path('performance_show', {'id': performance.id}) }}">Voir</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="pagination d-flex justify-content-center">
            {{ knp_pagination_render(performances) }}
        </div>
    </div>

{% endblock %}
