{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12">
                <h1>
                    <img src="{{asset('build/images/seed-left.png')}}">
                    Tous nos numéros
                    <img src="{{asset('build/images/seed-right.png')}}">
                </h1>
            </div>

            <div class="col-xs-12 col-lg-5">
                {{ form_start(form) }}
                <div class="row mt-3">
                    <div class="col-xs-12 col-lg-5">{{ form_row(form.category) }}</div>
                    <div class="col-xs-12 col-lg-5">{{ form_row(form.name) }}</div>
                    <div class="col-xs-12 col-lg-2">
                        <button class="btn btn-primary" type="submit" name="btnSearch">Rechercher</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="row mb-5">
            {% for performance in performances %}

                <div class="col-xs-12 col-md-6 mb-4">
                    <a href="{{ path('one_performance', {'performance': performance.id}) }}">
                        <div class="card">
                            <div class="card-image">
                                <img src="/upload/{{ performance.imageName }}" alt="vignette" class="card-img-top">
                                <span class="title-card">{{ performance.name }}</span>
                            </div>
                        </div>
                    </a>
                </div>

            {% endfor %}
        </div>
        <div class="pagination d-flex justify-content-center">
            {{ knp_pagination_render(performances) }}
        </div>
    </div>

{% endblock %}
