{% extends 'base.html.twig' %}

{% block title %}Numéro{% endblock %}

{% block body %}
    <div class="container">
        <h1>Numéro</h1>

        <table class="table admin-table">
            <tbody>

            <tr>
                <th>Nom</th>
                <td>{{ performance.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ performance.text|raw|nl2br }}</td>
            </tr>
            <tr>
                <th>Créé le</th>
                <td>{{ performance.createdAt ? performance.createdAt|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="/upload/{{ performance.imageName }}" alt="vignette" class="vignette"></td>
            </tr>
            </tbody>
        </table>

        <a href="{{ path('performance_index') }}" class="btn btn-primary my-3">Retour</a>

        <a href="{{ path('performance_edit', {'id': performance.id}) }}" class="btn btn-primary my-3">Modifier </a>

        {{ include('performance/_delete_form.html.twig') }}
    </div>
{% endblock %}
