{% extends 'base.html.twig' %}

{% block title %}Tour index{% endblock %}

{% block body %}
    <div class="container">
    <h1>Tour index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>City</th>
                <th>Date</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tour in tours %}
            <tr>
                <td>{{ tour.id }}</td>
                <td>{{ tour.city }}</td>
                <td>{{ tour.date ? tour.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ tour.price }}</td>
                <td>
                    <a href="{{ path('tour_show', {'id': tour.id}) }}">voir</a>
                    <a href="{{ path('tour_edit', {'id': tour.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tour_new') }}">Ajouter</a>
    </div>
{% endblock %}
