{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12">
                <h1>Toutes nos dates de tournée</h1>
            </div>

            <div class="col-5">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-5">{{ form_row(form.city) }}</div>
                    <div class="col-2">
                        <button class="btn btn-primary" type="submit" name="btnSearch">Rechercher</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="row mb-5">
            {% for tour in tours %}
                <div class="col-xs-12 col-md-6">
                    <div class="card">
                        <div class="card-header card-title">

                        </div>
                        <div class="card-body">

                            <p class="card-text">{{ tour.city }}</p>

                        </div>
                        <div class="card-footer d-flex justify-content-between">
                            <a href="{{ path('tour_show', {'id': tour.id}) }}">Voir</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
