{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12">
                <h1>
                    <img src="{{asset('build/images/seed-left.png')}}">
                    Toutes nos dates de tournée
                    <img src="{{asset('build/images/seed-right.png')}}">
                </h1>
            </div>

            <div class="col-xs-12 col-lg-6">
                {{ form_start(form) }}
                <div class="row mt-3">
                    <div class="col-sm-12 col-lg-5">{{ form_row(form.city) }}</div>
                    <div class="col-sm-12 col-lg-2">
                        <button class="btn btn-primary" type="submit" name="btnSearch">Rechercher</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="row mb-5">

                {% for tour in tours %}
                    <div class="col-xs-12 col-md-3 mb-4">
                        <a href="{{ path('one_tour', {'tour': tour.id}) }}">
                            <div class="card">
                                <div class="card-header text-center">
                                    <span class="card-title">{{ tour.city }}</span>
                                </div>
                                <div class="card-body">
                                    <p>{{ tour.date|date('d/m/Y à G:i') }}</p>
                                    <p>Place : {{ tour.price }}€ </p>
                                </div>
                                <div class="card-footer text-center">
                                    <a href="{{ path('one_tour', {'tour': tour.id}) }}"><i class="fas fa-calendar-check"></i></a>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
        </div>

        <div class="pagination d-flex justify-content-center">
            {{ knp_pagination_render(tours) }}
        </div>
    </div>

{% endblock %}
