{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12">
                <h1>
                    <img src="{{asset('build/images/seed-left.png')}}">
                    Toutes nos dates de tournée
                    <img src="{{asset('build/images/seed-right.png')}}">
                </h1>
            </div>

            <div class="col-xs-12 col-lg-5">
                {{ form_start(form) }}
                <div class="row mt-3">
                    <div class="col-sm-12 col-lg-5">{{ form_row(form.city) }}</div>
                    <div class="col-sm-12 col-lg-2">
                        <button class="btn btn-primary" type="submit" name="btnSearch">Rechercher</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="row mb-5">
            <table class="table admin-table">
                <thead>
                <tr>
                    <th>Ville</th>
                    <th>Date</th>
                    <th>Prix</th>
                    <th>Places</th>
                </tr>
                </thead>
                <tbody>
                {% for tour in tours %}
                    <tr>
                        <td>{{ tour.city }}</td>
                        <td>{{ tour.date ? tour.date|date('d/m/Y à G:i') : '' }}</td>
                        <td>{{ tour.price }}€ </td>
                        <td class="text-center">
                            <a href="{{ path('one_tour', {'tour': tour.id}) }}"><i class="fas fa-calendar-check"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="pagination d-flex justify-content-center">
            {{ knp_pagination_render(tours) }}
        </div>
    </div>

{% endblock %}
