{% extends 'base.html.twig' %}

{% block title %}Fans{% endblock %}

{% block body %}
    <div class="container">
    <h1>Tous les fans</h1>

        <a href="{{ path('user_new') }}" class="btn btn-primary my-3"> Ajouter fan</a>

    <table class="table admin-table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Roles</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th class="text-center">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td class="text-center">
                    <a href="{{ path('user_show', {'id': user.id}) }}"> <i class="fas fa-search-plus mr-2"></i></a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}"> <i class="fas fa-pencil-alt"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
